body {
    background-color: var(--bg-color);
    height: 100vh;
}

.sort {
    border-radius: 25px;
    cursor: pointer;
}

.bubble {
    background-color: #ffd8be;
}

.bubble:hover {
    -webkit-box-shadow: 0px 0px 10px rgba(255, 216, 190, 1);
    -moz-box-shadow: 0px 0px 10px rgba(255, 216, 190, 1);
    box-shadow: 0px 0px 10px rgba(255, 216, 190, 1);
}

.merge {
    background-color: #f6aee4;
}

.merge:hover {
    -webkit-box-shadow: 0px 0px 10px #f6aee4;
    -moz-box-shadow: 0px 0px 10px #f6aee4;
    box-shadow: 0px 0px 10px #f6aee4;
}

.insertion {
    background-color: #d7baff;
}

.insertion:hover {
    -webkit-box-shadow: 0px 0px 10px #d7baff;
    -moz-box-shadow: 0px 0px 10px #d7baff;
    box-shadow: 0px 0px 10px #d7baff;
}

.heap {
    background-color: #a3e3fd;
}

.heap:hover {
    -webkit-box-shadow: 0px 0px 10px #a3e3fd;
    -moz-box-shadow: 0px 0px 10px #a3e3fd;
    box-shadow: 0px 0px 10px #a3e3fd;
}

.quick {
    background-color: #a0f5cf;
}

.quick:hover {
    -webkit-box-shadow: 0px 0px 10px #a0f5cf;
    -moz-box-shadow: 0px 0px 10px #a0f5cf;
    box-shadow: 0px 0px 10px #a0f5cf;
}

.bg-heap {
    z-index: -100;
    background-color: #a3e3fd;
    position: relative;
    height: 188px;
    margin-top: -100px;
    border-radius: 25px;
    animation: heap-to-quick 25s ease 0s infinite alternate;
}

.bg-heap:hover {
    -webkit-box-shadow: 0px 0px 10px #a3e3fd;
    -moz-box-shadow: 0px 0px 10px #a3e3fd;
    box-shadow: 0px 0px 10px #a3e3fd;
}

.bg-quick {
    z-index: -100;
    background-color: #a0f5cf;
    position: relative;
    height: 188px;
    margin-top: -100px;
    border-radius: 25px;
    animation: quick-to-heap 25s ease 0s infinite alternate;
}

h1 {
    word-wrap: break-word;
}

@keyframes heap-to-quick {
    0% {
        background-color: #a3e3fd;
        top: 0;
        left: 0;
    }

    5% {
        background-color: #a0f5cf;
        left: 53%;
        top: 115%;
    }

    70% {
        background-color: #a0f5cf;
        left: 53%;
        top: 115%;
    }

    75% {
        background-color: #a3e3fd;
        left: 0;
        top: 0;
    }
}

@keyframes quick-to-heap {
    0% {
        background-color: #a0f5cf;

        right: 0;
        bottom: 0;
    }

    5% {
        background-color: #a3e3fd;
        right: 54%;
        bottom: 117%;
    }

    70% {
        background-color: #a3e3fd;
        right: 54%;
        bottom: 117%;
    }

    75% {
        background-color: #a0f5cf;
        right: 0px;
        bottom: 0px;
    }

    100% {
        background-color: #a0f5cf;
        right: 0px;
        bottom: 0px;
    }
}