#container {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.vertical-bar {
    background-color: #8f8cc9;
    display: inline-block;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#sidebar-control-collapsed {
    left: 10px;
    bottom: 10px;
    display: none;
    z-index: 100000;
}